.task-manager-container {
  max-width: 90%;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}

table{
  display: block;
  width: 90%;
  margin: auto;
  background-color: rgba(60, 52, 52, 0.346);
}

table tr{
  display: flex;
  width: 98%;
  justify-content:space-between;
  margin: auto;
}

.heading-row{
  width: 100%;
}

.heading-row th{
  width: 33%;
  color: blue;
  padding: 5px;
  background-color: greenyellow;
}

table tr td{
  width: 33%;
  display: flex;
  justify-content: left;
  text-align: left;
  margin: 1%;
}

.input-row{
  border-bottom: 2px solid greenyellow;
  padding: 1%;
}

.input-row td input{
  width: 100%;
}

button{
  width: 96%;
  margin: 1%;
  padding: 1%;
  color: white;
  background-color: blue;
  outline: none;
  border: 2px solid  blue;
  border-radius: 5%;
  cursor: pointer;

}

button:hover{
  color: blue;
  background-color: white;
}

